In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('./noreduce_train_base_features.csv',sep=' ')

In [3]:
train[:][:5]

,label,repeattrips,id,offer_id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,...,has_bought_brand_q_60,has_bought_brand_a_60,has_bought_brand_90,has_bought_brand_q_90,has_bought_brand_a_90,has_bought_brand_180,has_bought_brand_q_180,has_bought_brand_a_180,market,chain
0,1,5,86246,1208251,0,1,0,0,0,1,...,5,14.95,6,6,20.64,7,7,23.13,34,205
1,1,16,86252,1197502,0,0,0,1,1,1,...,1,1.99,1,1,1.99,1,1,1.99,34,205
2,0,0,12682470,1197502,1,0,1,0,0,0,...,0,0.00,0,0,0.00,0,0,0.00,11,18
3,0,0,12996040,1197502,1,1,1,0,0,0,...,0,0.00,0,0,0.00,0,0,0.00,9,15
4,0,0,13089312,1204821,0,1,0,0,0,1,...,5,19.95,3,5,19.95,3,5,19.95,9,15

In [4]:
train_label=train['label']

In [6]:
#train_label

In [8]:
train['has_bought_brand_a_90'].std()

38.34296715553532